
@charset "utf-8";

/*===========================
 =  Table of CSS

	1. General code
		1.1. Typography

	2. Background
    
    3. Default page
        3.1. Address
        3.2. Title homepage
        3.3. List member
        3.4. Background cover and Team image
        3.5. Animation book
            3.5.1. Book container
            3.5.2. Book's background and color
            3.5.3. Opening cover, Back cover And Pages
            3.5.4. Position, Transform & Transition
            3.5.5. Events hover
            3.5.6. Cover desgin

    4. Members page
        4.1. Member name
        4.2. Detail info
        4.4. Avatar
        4.4. Button home

    5. Animation define
===========================*/

/*====================
	1. General code
==========================*/


*, *:after, *:before { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box; 
}

html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

/*----------------------
	1.1. Typography
------------------------------*/


h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
	margin:0px;
    padding:0px !important;
    color: #191919;
}




/*=========================
	2. BackGround
==========================*/


.back-ground {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.back-ground
.sub-right {
    opacity: 1;
    clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
    max-width: 864px;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    position: absolute;
    background:#97F9E3; 
}

.back-ground
.sub-left {
    clip-path: polygon(0 75%, 100% 100%, 100% 100%, 0% 100%);
    max-width: 874px;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    background:#97F9E3; 
    position: absolute;
}



/*==============================
    3. Default page
==============================*/


.header-page {
    padding-left: 128px;
    padding-top: 48px;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    font-family: Arial, Helvetica, sans-serif;
}


/*----------------------
	3.1. Address
------------------------------*/


.logo-web {
    float: left;
}

.page-address {    
    font-size: 20pt;
    font-weight: bold;
}

.page-address
a {
    text-decoration: none;
    color: #023222;
}


.page-address
p {    
	padding-top: 14px;
	padding-left: 80px;
}

.page-address:hover {
    cursor: pointer;
}



/*----------------------
	3.2. Title homepage
------------------------------*/   

.title-page {
	padding-top: 28px;
}

.title-page 
	h1 {
		font-size: 42pt;
        font-weight: 700;
        color: #023222;
	}



/*----------------------
	3.3. List member
------------------------------*/


.member-name,
.title-list-members{
    padding-top: 60px;
    animation: anim-float-out ease-in-out 1.5s;
}

.member-name h1,
.title-list-members h1 {
    font-weight: bold;
    color: #023222;
}

.Thuan-info,
.Thuc-info,
.Tuan-info {
	padding-top: 35px;
	display: grid;
	max-width: 300px;
    grid-template-columns: 80px auto;
	align-items: center;
    line-height: 10px;
    position: absolute;
    z-index: 20;
}

.Thuc-info {
    margin-top: 110px;
}

.Tuan-info {
    margin-top: 220px;
}

.Thuan-info .avt img,
.Thuc-info .avt img,
.Tuan-info .avt img {
	padding: 0;
	margin: 0;
	width: 80px;
    height: 80px;
    border-radius: 50%;
}

.Thuan-info .avt,
.Thuc-info .avt,
.Tuan-info .avt {
	grid-column-start: 1;
    grid-column-end: 1;
    animation: anim-float-left ease-in-out 1.5s;
}

.Thuan-info .avt:hover,
.Thuc-info .avt:hover,
.Tuan-info .avt:hover {
	transform: scale(1.1);
}

.Thuan-info .member-detail,
.Thuc-info .member-detail,
.Tuan-info .member-detail {
    font-size: 1.1rem;
	margin-left: 20px;
	grid-column-start: 2;
    grid-column-end: 2;
    animation: anim-float-in ease-in-out 1.5s;
}

.member-info-in-bookpage {
    position: absolute;
	padding-left: 50px;
	padding-right: 60px;
    margin-top: 30px;
    color: #191919;
    font-weight: 500;
}

.img-in-bookpage {
    width: 100px !important;
    height: 100px !important;
    margin-top: 100px;
    margin-left: 80px;
}

.Thuan-image:hover ~ .book .page > li .member-info-in-bookpage::before,
.Thuan-info:hover ~ .book .page > li .member-info-in-bookpage::before {
    content: "Trương Quốc Thuận";  
}

.Thuc-image:hover ~ .book .page > li .member-info-in-bookpage::before,
.Thuc-info:hover ~ .book .page > li .member-info-in-bookpage::before {
    content: "Triệu Mai Ngọc Thức";
}

.Tuan-image:hover ~ .book .page > li .member-info-in-bookpage::before,
.Tuan-info:hover ~ .book .page > li .member-info-in-bookpage::before {
    content: "Lê Nhật Tuấn";
    margin-left: 30px;
}

.Thuan-image:hover ~ .book .page > li .img-in-bookpage,
.Thuan-info:hover ~ .book .page > li .img-in-bookpage {
    content: url(members/18120583/images/thuan-avt.png);
    border-radius: 50%;
}

.Thuc-image:hover ~ .book .page > li .img-in-bookpage,
.Thuc-info:hover ~ .book .page > li .img-in-bookpage {
    content: url(members/18120585/images/thuc-avt.png);
    border-radius: 50%;
}

.Tuan-image:hover ~ .book .page > li .img-in-bookpage,
.Tuan-info:hover ~ .book .page > li .img-in-bookpage {
    content: url(members/18120632/images/tuan-avt.png);
    border-radius: 50%;
}



/*----------------------
	3.4. Background cover and Team image
------------------------------*/

.Tuan-image {
	position: absolute;
	z-index: 10;
    right: 480px;
    top: 100px;
    animation: anim-float-left ease-in-out 1.5s;
}

.Thuan-image {
	right: 350px;
    top: 60px;
    position: absolute;
    z-index: 10;
    animation: anim-float-in ease-in-out 1.5s;
}

.Thuc-image {
    position: absolute;
    z-index: 10 ;
	right: 180px;
    top: 80px;
    animation: anim-float-out ease-in-out 1.5s;
}

.bg-cover {
    position: absolute;
    z-index: 11;
    bottom: 140px;
    right: 85px;
}

.bg-cover  
	img {
		width: 810px;
		height: 570px;
	}

.flag-man {
	z-index: 15;
    position: absolute;
    bottom: 80px;
    right: 90px;
}

.flag-man  
	img {
		width: 360px;
		height: 600px;
    }



/*==============================
    3.5. Animation book
==============================*/

/*----------------------
	3.5.1 Book container
------------------------------*/


.book { 
	position: absolute;
    z-index: 12;
    bottom: 164px;
    right: 320px;
	width: 270px; 
	height: 360px;
	-webkit-perspective: 900px;
	-moz-perspective: 900px;
	perspective: 900px;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.book 
	ul {
		list-style: none;
	}



/*----------------------
	3.5.2 Book's background and color
------------------------------*/


/* HARDCOVER FRONT */
.hardcover-front li:first-child {
	background-color: #eee;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

/* reverse */
.hardcover-front li:last-child {
	background: #0d7037;
}

/* HARDCOVER BACK */
.hardcover-back li:first-child {
	background:#0d7037;
}

/* reverse */
.hardcover-back li:last-child {
	background:#0d7037;
}

.book-spine li:first-child {
	background:  #023222;
}
.book-spine li:last-child {
	background: #191919;
}

/* thickness of cover */

.hardcover-front li:first-child:after,
.hardcover-front li:first-child:before,
.hardcover-front li:last-child:after,
.hardcover-front li:last-child:before,
.hardcover-back li:first-child:after,
.hardcover-back li:first-child:before,
.hardcover-back li:last-child:after,
.hardcover-back li:last-child:before,
.book-spine li:first-child:after,
.book-spine li:first-child:before,
.book-spine li:last-child:after,
.book-spine li:last-child:before {
	background: #999;
}

/* page */

.page > li {
    position: absolute;
	background: -webkit-linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
	background: -moz-linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
	background: -ms-linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
	background: linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
	box-shadow: inset 0px -1px 2px rgba(50, 50, 50, 0.1), inset -1px 0px 1px rgba(150, 150, 150, 0.2);
	border-radius: 0px 5px 5px 0px;
}

/*----------------------
	3.5.3 Opening cover, Back cover And Pages
------------------------------*/


.hardcover-front {
	-webkit-transform: rotateY(-30deg) translateZ(8px);
	-moz-transform: rotateY(-30deg) translateZ(8px);
	transform: rotateY(-30deg) translateZ(8px);
	z-index: 100;
}

.hardcover-back {
	-webkit-transform: rotateY(-15deg) translateZ(-8px);
	-moz-transform: rotateY(-15deg) translateZ(-8px);
	transform: rotateY(-15deg) translateZ(-8px);
}

.page li:nth-child(1) {
	-webkit-transform: rotateY(-24deg);
	-moz-transform: rotateY(-24deg);
	transform: rotateY(-24deg);
}

.page li:nth-child(2) {
	-webkit-transform: rotateY(-26deg);
	-moz-transform: rotateY(-26deg);
	transform: rotateY(-26deg);
}

.page li:nth-child(3) {
	-webkit-transform: rotateY(-28deg);
	-moz-transform: rotateY(-28deg);
	transform: rotateY(-28deg);
}

.page li:nth-child(4) {
	-webkit-transform: rotateY(-30deg);
	-moz-transform: rotateY(-30deg);
	transform: rotateY(-30deg);
}

.page li:nth-child(5) {
	-webkit-transform: rotateY(-32deg);
	-moz-transform: rotateY(-32deg);
	transform: rotateY(-32deg);
}



/*----------------------
	3.5.4 Position, Transform & Transition
------------------------------*/


.hardcover-front,
.hardcover-back,
.book-spine,
.hardcover-front li,
.hardcover-back li,
.book-spine li {
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.hardcover-front,
.hardcover-back {
	-webkit-transform-origin: 0% 100%;
	-moz-transform-origin: 0% 100%;
	transform-origin: 0% 100%;
}

.hardcover-front {
	-webkit-transition: all 0.8s ease, z-index 0.6s;
	-moz-transition: all 0.8s ease, z-index 0.6s;
	transition: all 0.8s ease, z-index 0.6s;
}

/* HARDCOVER front */
.hardcover-front li:first-child {
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	-webkit-transform: translateZ(3px);
	-moz-transform: translateZ(3px);
	transform: translateZ(3px);
}

.hardcover-front li:last-child {
	-webkit-transform: rotateY(180deg) translateZ(2px);
	-moz-transform: rotateY(180deg) translateZ(2px);
	transform: rotateY(180deg) translateZ(2px);
}

/* HARDCOVER back */
.hardcover-back li:first-child {
	-webkit-transform: translateZ(2px);
	-moz-transform: translateZ(2px);
	transform: translateZ(2px);
}

.hardcover-back li:last-child {
	-webkit-transform: translateZ(-2px);
	-moz-transform: translateZ(-2px);
	transform: translateZ(-2px);
}

/* thickness of cover */
.hardcover-front li:first-child:after,
.hardcover-front li:first-child:before,
.hardcover-front li:last-child:after,
.hardcover-front li:last-child:before,
.hardcover-back li:first-child:after,
.hardcover-back li:first-child:before,
.hardcover-back li:last-child:after,
.hardcover-back li:last-child:before,
.book-spine li:first-child:after,
.book-spine li:first-child:before,
.book-spine li:last-child:after,
.book-spine li:last-child:before {
	position: absolute;
	top: 0;
	left: 0;
}

/* HARDCOVER front */
.hardcover-front li:first-child:after,
.hardcover-front li:first-child:before {
	width: 4px;
	height: 100%;
}

.hardcover-front li:first-child:after {
	-webkit-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
	-moz-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
	transform: rotateY(90deg) translateZ(-2px) translateX(2px);
}

.hardcover-front li:first-child:before {
	-webkit-transform: rotateY(90deg) translateZ(158px) translateX(2px);
	-moz-transform: rotateY(90deg) translateZ(158px) translateX(2px);
	transform: rotateY(90deg) translateZ(158px) translateX(2px);
}

.hardcover-front li:last-child:after,
.hardcover-front li:last-child:before {
	width: 4px;
	height: 160px;
}

.hardcover-front li:last-child:after {
	-webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(-2px) translateY(-78px);
	-moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(-2px) translateY(-78px);
	transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(-2px) translateY(-78px);
}

.hardcover-front li:last-child:before {
	box-shadow: 0px 0px 30px 5px #333;
	-webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(-2px) translateY(-78px);
	-moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(-2px) translateY(-78px);
	transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(-2px) translateY(-78px);
}

/* thickness of cover */

.hardcover-back li:first-child:after,
.hardcover-back li:first-child:before {
	width: 4px;
	height: 100%;
}

.hardcover-back li:first-child:after {
	-webkit-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
	-moz-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
	transform: rotateY(90deg) translateZ(-2px) translateX(2px);
}
.hardcover-back li:first-child:before {
	-webkit-transform: rotateY(90deg) translateZ(158px) translateX(2px);
	-moz-transform: rotateY(90deg) translateZ(158px) translateX(2px);
	transform: rotateY(90deg) translateZ(158px) translateX(2px);
}

.hardcover-back li:last-child:after,
.hardcover-back li:last-child:before {
	width: 4px;
	height: 160px;
}

.hardcover-back li:last-child:after {
	-webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(2px) translateY(-78px);
	-moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(2px) translateY(-78px);
	transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(2px) translateY(-78px);
}

.hardcover-back li:last-child:before {
	box-shadow: 10px -1px 80px 20px #666;
	-webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(2px) translateY(-78px);
	-moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(2px) translateY(-78px);
	transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(2px) translateY(-78px);
}

/* BOOK SPINE */
.book-spine {
	-webkit-transform: rotateY(60deg) translateX(-5px) translateZ(-12px);
	-moz-transform: rotateY(60deg) translateX(-5px) translateZ(-12px);
	transform: rotateY(60deg) translateX(-5px) translateZ(-12px);
	width: 16px;
    z-index: 0;
    
}

.book-spine li:first-child {
	-webkit-transform: translateZ(2px);
	-moz-transform: translateZ(2px);
    transform: translateZ(2px);
    margin-left: -8px;
}

.book-spine li:last-child {
	-webkit-transform: translateZ(-2px);
	-moz-transform: translateZ(-2px);
    transform: translateZ(-2px);
    margin-left: -8px;
    
}

/* thickness of book spine */
.book-spine li:first-child:after,
.book-spine li:first-child:before {
	width: 4px;
	height: 100%;
}

.book-spine li:first-child:after {
	-webkit-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
	-moz-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
	transform: rotateY(90deg) translateZ(-2px) translateX(2px);
}

.book-spine li:first-child:before {
	-webkit-transform: rotateY(-90deg) translateZ(-12px);
	-moz-transform: rotateY(-90deg) translateZ(-12px);
	transform: rotateY(-90deg) translateZ(-12px);
}

.book-spine li:last-child:after,
.book-spine li:last-child:before {
	width: 4px;
	height: 16px;
}

.book-spine li:last-child:after {
	-webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(8px) translateX(2px) translateY(-6px);
	-moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(8px) translateX(2px) translateY(-6px);
	transform: rotateX(90deg) rotateZ(90deg) translateZ(8px) translateX(2px) translateY(-6px);
}

.book-spine li:last-child:before {
	box-shadow: 5px -1px 100px 40px rgba(0, 0, 0, 0.2);
	-webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(-210px) translateX(2px) translateY(-6px);
	-moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(-210px) translateX(2px) translateY(-6px);
	transform: rotateX(90deg) rotateZ(90deg) translateZ(-210px) translateX(2px) translateY(-6px);
}

.page,
.page > li {
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.page {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 98%;
	top: 1%;
	left: 4%;
}

.page > li {
	width: 100%;
	height: 100%;
	-webkit-transform-origin: left center ;
	-moz-transform-origin: left center;
	transform-origin: left center;
	-webkit-transition-property: transform;
	-moz-transition-property: transform;
	transition-property: transform;
	-webkit-transition-timing-function: ease;
	-moz-transition-timing-function: ease;
	transition-timing-function: ease;
}

.page > li:nth-child(1) {
	-webkit-transition-duration: 0.6s;
	-moz-transition-duration: 0.6s;
	transition-duration: 0.6s;
}

.page > li:nth-child(2) {
	-webkit-transition-duration: 0.6s;
	-moz-transition-duration: 0.6s;
	transition-duration: 0.6s;
}

.page > li:nth-child(3) {
	-webkit-transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

.page > li:nth-child(4) {
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

.page > li:nth-child(5) {
	-webkit-transition-duration: 0.6s;
	-moz-transition-duration: 0.6s;
	transition-duration: 0.6s;
}

.page > li:nth-child(2) 
img {
    margin-left:80px;
    margin-top: 120px;
    width: 100px;
    height: 100px
}



/*----------------------
	3.5.5 Events hover
------------------------------*/


.book:hover .page > li .img-in-bookpage{
    content: url(./images/logo-uni.png);
}

.book:hover .page > li .member-info-in-bookpage::before{
	content: "Nhấn vào mặt hoặc avatar thành viên để xem thông tin chi tiết.";
	font-size: 1rem;
	text-align: center;
}

.Thuan-image:hover ~ .book > .hardcover-front,
.Thuc-image:hover ~ .book > .hardcover-front,
.Tuan-image:hover ~ .book > .hardcover-front,
.Thuan-info:hover ~ .book > .hardcover-front,
.Thuc-info:hover ~ .book > .hardcover-front,
.Tuan-info:hover ~ .book > .hardcover-front,
.book:hover > .hardcover-front {
	-webkit-transform: rotateY(-145deg) translateZ(0);
	-moz-transform: rotateY(-145deg) translateZ(0);
	transform: rotateY(-145deg) translateZ(0);
	z-index: 0;
}

.Thuan-image:hover ~ .book .page > li:nth-child(1),
.Thuc-image:hover ~ .book .page > li:nth-child(1),
.Tuan-image:hover ~ .book .page > li:nth-child(1),
.Thuan-info:hover ~ .book .page > li:nth-child(1),
.Thuc-info:hover ~ .book .page > li:nth-child(1),
.Tuan-info:hover ~ .book .page > li:nth-child(1),
.book:hover > .page li:nth-child(1) {
	-webkit-transform: rotateY(-30deg);
	-moz-transform: rotateY(-30deg);
	transform: rotateY(-30deg);
	-webkit-transition-duration: 1.5s;
	-moz-transition-duration: 1.5s;
    transition-duration: 1.5s;
}

.Thuan-image:hover ~ .book .page > li:nth-child(2),
.Thuc-image:hover ~ .book .page > li:nth-child(2),
.Tuan-image:hover ~ .book .page > li:nth-child(2),
.Thuan-info:hover ~ .book .page > li:nth-child(2),
.Thuc-info:hover ~ .book .page > li:nth-child(2),
.Tuan-info:hover ~ .book .page > li:nth-child(2),
.book:hover > .page li:nth-child(2) {
	-webkit-transform: rotateY(-35deg);
	-moz-transform: rotateY(-35deg);
	transform: rotateY(-35deg);
	-webkit-transition-duration: 1.8s;
	-moz-transition-duration: 1.8s;
	transition-duration: 1.8s;
}

.Thuan-image:hover ~ .book .page > li:nth-child(3),
.Thuc-image:hover ~ .book .page > li:nth-child(3),
.Tuan-image:hover ~ .book .page > li:nth-child(3),
.Thuan-info:hover ~ .book .page > li:nth-child(3),
.Thuc-info:hover ~ .book .page > li:nth-child(3),
.Tuan-info:hover ~ .book .page > li:nth-child(3),
.book:hover > .page li:nth-child(3) {
	-webkit-transform: rotateY(-118deg);
	-moz-transform: rotateY(-118deg);
	transform: rotateY(-118deg);
	-webkit-transition-duration: 1.6s;
	-moz-transition-duration: 1.6s;
	transition-duration: 1.6s;
}

.Thuan-image:hover ~ .book .page > li:nth-child(4),
.Thuc-image:hover ~ .book .page > li:nth-child(4),
.Tuan-image:hover ~ .book .page > li:nth-child(4),
.Thuan-info:hover ~ .book .page > li:nth-child(4),
.Thuc-info:hover ~ .book .page > li:nth-child(4),
.Tuan-info:hover ~ .book .page > li:nth-child(4),
.book:hover > .page li:nth-child(4) {
	-webkit-transform: rotateY(-130deg);
	-moz-transform: rotateY(-130deg);
	transform: rotateY(-130deg);
	-webkit-transition-duration: 1.4s;
	-moz-transition-duration: 1.4s;
	transition-duration: 1.4s;
}

.Thuan-image:hover ~ .book .page > li:nth-child(5),
.Thuc-image:hover ~ .book .page > li:nth-child(5),
.Tuan-image:hover ~ .book .page > li:nth-child(5),
.Thuan-info:hover ~ .book .page > li:nth-child(5),
.Thuc-info:hover ~ .book .page > li:nth-child(5),
.Tuan-info:hover ~ .book .page > li:nth-child(5),
.book:hover > .page li:nth-child(5) {
	-webkit-transform: rotateY(-140deg);
	-moz-transform: rotateY(-140deg);
	transform: rotateY(-140deg);
	-webkit-transition-duration: 1.2s;
	-moz-transition-duration: 1.2s;
	transition-duration: 1.2s;
}



/*----------------------
	3.5.6 Cover desgin
------------------------------*/


/* cover CSS */
.cover-design {
    background-color: #c2ffcc;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
    z-index: 1;
    overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

.cover-design
p {
    padding-top: 72px;
    text-align: center;
    font-weight: 700;
}

.cover-design
img {
    margin-left: 32px;
    width: 195px;
    height: 121px;
}

.cover-design::after {
	background-image: -webkit-linear-gradient( -135deg, rgba(255, 255, 255, 0.45) 0%, transparent 100%);
	background-image: -moz-linear-gradient( -135deg, rgba(255, 255, 255, 0.45) 0%, transparent 100%);
    background-image: linear-gradient( -135deg, rgba(255, 255, 255, 0.45) 0%, transparent 100%);
	position: relative;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}



/*====================
	4. Members page
==========================*/

/*----------------------
	4.1. Members name
------------------------------*/


.member-name {
    font-size: 1.2rem;
}



/*----------------------
	4.2. Detail info
------------------------------*/


.detail-info {
    font-size: 1.2rem;
    font-weight: normal;
}

.detail-info 
ul {
    list-style-type: none;
    margin: 20px 0px 0px 0px;
    padding: 0px;
}

.detail-info 
ul 
li {
    max-height: 28px;
    display: grid;
    grid-template-columns: 42px auto;
    margin-bottom: 30px;
}

.ic-content {
    max-width: 42px;
    grid-column-start: 1;
    grid-column-end: 1;
    justify-self: center;
    align-self: center;
    animation: anim-float-left ease-in-out 1.5s;
}

.detail-content {
    grid-column-start: 2;
    grid-column-end: 2;
    margin-left: 33px;
    animation: anim-float-in ease-in-out 1.5s;
}



/*----------------------
	4.3. Avatar
------------------------------*/


.avatar {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
}

.avatar
.avatar-content {
    width: 585px;
    height: 585px;
    top: 240px;
    right: 300px;
    position: absolute;
    animation: anim-float-left ease-in-out 1.5s;
    border-radius: 50%;
}

.avatar
.avatar-ribbon {
    width: 320px;
    height: 347px;
    top: 500px;
    right: 224px;
    position: absolute;
    animation: anim-float-out ease-in-out 1.5s;
}


/*----------------------
	4.4. Button home
------------------------------*/


.btn-home {
    position: absolute;
    z-index: 3;
    width: 214px;
    height: 76px;
    top: 44px;
    right: 80px;
    border-radius: 27px;
    border-width: 0px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    font-size: 2.25rem;
    background-size: 300% 100%;
    background-image: linear-gradient(to right, #53CD93, #307a57, #307a57, #0D7037);
}

.btn-home:hover {
    cursor: pointer;
    background-position: 100% 0;
    transition: all 400ms ease-in-out;
}

.btn-home:hover {
    background-image: linear-gradient(to right, #0D7037, #129e4c, #53CD93, #2c6d4e);
    box-shadow: 0 4px 15px 0 #53CD93;
}



/*====================
	5. Animation define
==========================*/


@keyframes anim-float-in {
    from { transform: translate(0,  12px); }
    50%  { transform: translate(0, -8px); }
    to   { transform: translate(0, 0px); }    
}

@keyframes anim-float-left {
    from { transform: translate(12px,  0); }
    50%  { transform: translate(-8px, 0); }
    to   { transform: translate(0, 0); }    
}

@keyframes anim-float-out {
   from { transform: translate(0,  0px); }
    50%  { transform: translate(0, 12px); }
    to   { transform: translate(0, 0px); }     
}